<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- $title := .Title -}}
{{- if .IsHome }}{{ $title = printf "%s: a live-recorded podcast from UTSC" site.Title }}{{ else }}{{ $title = printf "%s | %s" .Title site.Title }}{{ end -}}
{{- $desc := or .Description .Params.short site.Params.description -}}
<title>{{ $title }}</title>
<meta name="description" content="{{ $desc }}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta name="twitter:card" content="summary">
<meta name="theme-color" content="#ffffff">
{{- range .AlternativeOutputFormats }}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Title }}">
{{- end }}
{{- $latin := "fonts/SpaceGrotesk-latin.woff2" | relURL }}
<link rel="preload" href="{{ $latin }}" as="font" type="font/woff2" crossorigin>
{{- $scss := resources.Get "scss/main.scss" | css.Sass (dict "outputStyle" "compressed") | fingerprint }}
<link rel="stylesheet" href="{{ $scss.RelPermalink }}" integrity="{{ $scss.Data.Integrity }}">
<link rel="icon" href="{{ "favicon.svg" | relURL }}" type="image/svg+xml">
