<!doctype html>
<html lang="en-CA" class="no-js">
<head>
{{ partial "head.html" . }}
<script>document.documentElement.classList.remove('no-js');</script>
</head>
<body class="{{ block "bodyclass" . }}{{ end }}">
<a class="skip" href="#main">Skip to content</a>
{{ partial "header.html" . }}
<main id="main">
{{ block "main" . }}{{ end }}
</main>
{{ partial "footer.html" . }}
{{ $js := resources.Get "js/site.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
</body>
</html>
